body {
  background-color: rgb(227, 200, 255);
}


.todo-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.todo-item::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 12px;
}

.urgent::before {
  background-color: #ef4444;
}

.high::before {
  background-color: #8b5cf6;
}

.medium::before {
  background-color: #3b82f6;
}

.low::before {
  background-color: #93c5fd;
}